---
interface Props {
  title: string
  image: string
  description: string
}

const {description, image, title} = Astro.props
---

<article class="max-w-80">
  <img 
    src={image} 
    alt={title}
    class="w-full aspect-video object-cover max-w-80 rounded-lg cursor-pointer"  
  >

  <div class="my-2">
    <span class="font-bold block mb-2">{title}</span>
    <p>{description.slice(0,150)+ '...'}</p>
  </div>

  <a 
    href="/#"
    class="block bg-slate-300 py-2 px-4 rounded-lg text-slate-900 text-center hover:bg-transparent hover:text-slate-200 transition-all"
  >Read about {title}</a>
</article>