---
import AboutHeader from "../components/aboutHeader.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/projects.astro";


---

<Layout title="About | Fermin">
    <main class="w-full">
          <div class="mb-2">
            <h1 
                class="py-2 block text-2xl font-bold"
                transition:name="title-about"
                transition:animate="initial"
            >About</h1>
        </div>
        <AboutHeader/>
        <Projects/>
    </main>
</Layout>