---
import IndexList from "../components/indexList.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Diogenes Fermin">
    <main class="flex-1 w-full h-full flex justify-center items-center">
        <IndexList/>
    </main>
</Layout>