---

---

<section class="mb-4">
  <div>
    <img
      src="/diogenes.jpg"
      alt="Profile photo"
      class="size-50 rounded-full object-cover mx-auto my-4 md:float-end md:m-2"
    />
    <p class="tracking-tight py-2">
      I'm full stack developer and computer science student, I'm 20 years old.
      Since I was 18, I have dedicated myself to studying programming, mainly
      JavaScript, as well as best practices and software architecture.
    </p>

    <p class="tracking-tight py-2">
      I started in programming in the frontend, I studied JavaScript and later
      React. I also tried other frameworks like Vue and Astro, but finally I
      stuck with NextJS.
    </p>

    <p class="tracking-tight py-2">
      Later, I became interested in the backend. I started with Node.js and
      studied database engines like MySQL, MongoDB, and PostgreSQL. Then I tried
      Express, and finally, I studied NestJS, which I loved for its modularity
      and ability to create scalable systems. Currently, I'm studying Go to
      understand the fundamentals of the backend more deeply and increase the
      performance of my systems due to Go's speed. I'm also interested in the
      DevOps aspect, I'm proficient with tools like Linux, Docker, and AWS, and
      I've successfully deployed projects.
    </p>

    <div class="flex flex-col md:flex-row gap-2">
      <a
        href={"https://github.com/DiogenesFerminS"}
        class="font-bold mt-3 block border border-slate-300 w-fit p-2 rounded-lg hover:bg-slate-600 transition-all"
        target="_blank"
      >
        <div class="flex justify-start items-center gap-2">
          <span>Go to Github Profile</span>

          <div class="size-6">
            <svg
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
            >
              <>
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill="#ffffff"
                    fill-rule="evenodd"
                    d="M8 1C4.133 1 1 4.13 1 7.993c0 3.09 2.006 5.71 4.787 6.635.35.064.478-.152.478-.337 0-.166-.006-.606-.01-1.19-1.947.423-2.357-.937-2.357-.937-.319-.808-.778-1.023-.778-1.023-.635-.434.048-.425.048-.425.703.05 1.073.72 1.073.72.624 1.07 1.638.76 2.037.582.063-.452.244-.76.444-.935-1.554-.176-3.188-.776-3.188-3.456 0-.763.273-1.388.72-1.876-.072-.177-.312-.888.07-1.85 0 0 .586-.189 1.924.716A6.711 6.711 0 018 4.381c.595.003 1.194.08 1.753.236 1.336-.905 1.923-.717 1.923-.717.382.963.142 1.674.07 1.85.448.49.72 1.114.72 1.877 0 2.686-1.638 3.278-3.197 3.45.251.216.475.643.475 1.296 0 .934-.009 1.688-.009 1.918 0 .187.127.404.482.336A6.996 6.996 0 0015 7.993 6.997 6.997 0 008 1z"
                    clip-rule="evenodd"></path>
                </g>
              </>
            </svg>
          </div>
        </div>
      </a>
      
       <a
        href={"https://www.linkedin.com/in/diogenes-fermin-a97a44329/"}
        class="font-bold mt-3 block border border-slate-300 w-fit p-2 rounded-lg hover:bg-slate-600 transition-all"
        target="_blank"
      >
        <div class="flex justify-start items-center gap-2">
          <span>Go to Linkedin</span>

          <div class="size-6">
           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 382 382" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#ffffff;" d="M347.445,0H34.555C15.471,0,0,15.471,0,34.555v312.889C0,366.529,15.471,382,34.555,382h312.889 C366.529,382,382,366.529,382,347.444V34.555C382,15.471,366.529,0,347.445,0z M118.207,329.844c0,5.554-4.502,10.056-10.056,10.056 H65.345c-5.554,0-10.056-4.502-10.056-10.056V150.403c0-5.554,4.502-10.056,10.056-10.056h42.806 c5.554,0,10.056,4.502,10.056,10.056V329.844z M86.748,123.432c-22.459,0-40.666-18.207-40.666-40.666S64.289,42.1,86.748,42.1 s40.666,18.207,40.666,40.666S109.208,123.432,86.748,123.432z M341.91,330.654c0,5.106-4.14,9.246-9.246,9.246H286.73 c-5.106,0-9.246-4.14-9.246-9.246v-84.168c0-12.556,3.683-55.021-32.813-55.021c-28.309,0-34.051,29.066-35.204,42.11v97.079 c0,5.106-4.139,9.246-9.246,9.246h-44.426c-5.106,0-9.246-4.14-9.246-9.246V149.593c0-5.106,4.14-9.246,9.246-9.246h44.426 c5.106,0,9.246,4.14,9.246,9.246v15.655c10.497-15.753,26.097-27.912,59.312-27.912c73.552,0,73.131,68.716,73.131,106.472 L341.91,330.654L341.91,330.654z"></path> </g></svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
