---

---

<section>
  <div class="mb-2">
    <span class="py-2 block text-2xl font-bold">About Diogenes Fermin</span>
  </div>

  <div>
    <img
      src="/diogenes.jpg"
      alt="Profile photo"
      class="size-50 rounded-full object-cover mx-auto my-4 md:float-end md:m-2"
    />
    <p class="tracking-tight py-2">
      I'm full stack developer and computer science student, I'm 20 years old. Since I was 18, I have dedicated myself to studying programming, mainly JavaScript, as well as best practices and software architecture.
    </p>

    <p class="tracking-tight py-2" >
        I started in programming in the frontend, I studied JavaScript and later React. I also tried other frameworks like Vue and Astro, but finally I stuck with NextJS.
    </p>

    <p class="tracking-tight py-2" >
        Later, I became interested in the backend. I started with Node.js and studied database engines like MySQL, MongoDB, and PostgreSQL. Then I tried Express, and finally, I studied NestJS, which I loved for its modularity and ability to create scalable systems. Currently, I'm studying Go to understand the fundamentals of the backend more deeply and increase the performance of my systems due to Go's speed. I'm also proficient in tools like Docker and AWS.
    </p>
  </div>

</section>
