---
import {type Project} from "../interfaces/projects"
import ProjectsList from "./projectsList.astro";
const projects: Project[] = [
  {
    title: "What-about v1",
    link: "https://github.com/DiogenesFerminS/what-about-frontend",
    description:
      "A high-performance microblogging platform designed for sharing ideas, debating, and connecting in real time. Built with a robust Full Stack architecture, it focuses on delivering a seamless user experience and handling dynamic interactions on par with modern social networks.",
  },
  {
    title: "Network Operations Center (NOC) v1",
    link: "https://github.com/DiogenesFerminS/noc-app",
    description:
      "A robust monitoring solution designed to ensure high availability. The system tracks service performance in real-time, persisting multi-level logs across PostgreSQL (relational data) and MongoDB (unstructured events). It features an automated reporting engine that generates daily filesystem audits and delivers critical insights directly to stakeholders via email.",
  },
];
---

<section class="mt-2">
  <div class="mb-4">
    <span class="py-2 block text-2xl font-bold">My Projects</span>
    <ul class="list-disc">
      <li class="py-3">
        <div>
          <span class="font-bold block underline py-2"
            >Open source contribution:</span
          >
          <p>
            I contributed to the React <a
              href="https://swr.vercel.app/"
              target="_blank"
              class="underline">SWR</a
            > data request and state management library developed by Vercel, providing
            bug fixes and test development.
          </p>
        </div>
      </li>

     <ProjectsList projects={projects}/>
    </ul>
  </div>
</section>
