<footer>
	<div class="w-full flex justify-between mt-4">
        <a 
            href="https://github.com/DiogenesFerminS/astro-portfolio"
            class="text-gray-400 text-sm hover:underline transition-all"
            target="_blank"
        >Source</a>
        <a 
            href="https://www.linkedin.com/in/diogenes-fermin-a97a44329/"
            class="text-gray-400 text-sm hover:underline transition-all"
            target="_blank"
        >Follow Me</a>
	</div>
</footer>