---
const { url } = Astro.props;
---

<a
  href={url}
  class="font-bold mt-3 block border border-slate-300 w-fit p-2 rounded-lg hover:bg-slate-600 transition-all"
  target="_blank"
>
  <div class="flex justify-start items-center gap-2">
    <span>Go to Demo</span>

    <div class="size-6 flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-eye"
      >
        <path
          d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
        ></path>
        <circle cx="12" cy="12" r="3"></circle>
      </svg>
    </div>
  </div>
</a>
