---
const {title} = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css">
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 max-w-3xl mx-auto p-3 text-slate-200">
		<slot />
	</body>
</html>
